main {
    h1 {
        @extend .titulos1;
        text-align: center;

    }

    .kinesiologia {
        margin: auto;
        max-width: 75%;
        padding: 3rem 0 3rem 0;

        .img_servicios {
            width: 400px;
        }

        .titulo_serv {
            @extend .titulos2;
        }

        .p_serv {
            @extend .textos;
            padding-left: 10px;
        }

        button {

            @extend .button;

        }

    }
}

@media(max-width: 1331px) {
    main {
        h1 {
            font-size: 50px;
        }

        .kinesiologia {
            .img_servicios {
                width: 39%;
                margin-top: 3rem;
            }

            .titulo_serv {
                font-size: 24px;
                text-align: center;
            }

            a {
                display: flex;
                display: flex;
                justify-content: center;
            }

        }
    }

}