$fondovioleta: #8458f0;
$success: $fondovioleta;
$violeta: #8458f0;
$verde1: #619b8a; 

$boton: #008db1;

$txtnav: #ffffffa4; 

$blanca: #eaeaea;

$violetclaro: #9a7ee2;

$fondoclaro: #dcdcdc;

$fondito1: #8c9ccf;
$fondito2: #b3a0e2;
$fondito3: #42e5b4b5;